menu "HIGH PERFORMANCE DMA"
	config HIGH_PERFORMANCE_DMA
		bool "Enable High performance dma"
		default y

	config HPDMA_LOGIC_CHAN_CNT
		int "Current CPU-CORE software system uses how many dma-logic-channels"
		default 4
		help
			Total of all CPU-COREs dma logic chan count should be not bigger
			than total DMA hardware supported channels.

	config HPDMA_LOGIC_CHAN_ID_MIN
		int "Current CPU-CORE software system min dma-logic-channel-id"
		default 0
		help
			Be careful to avoid overlapping other CPU-CORE software system
			DMA logic channel IDs. CPU0 starts from 0; CPU1 starts from
			CPU0_DMA_LOGIC_CHAN_CNT; CPU2 starts from
			CPU0_DMA_LOGIC_CHAN_CNT + CPU1_DMA_LOGIC_CHAN_CNT.

	config HIGH_PERFORMANCE_DMA_TEST
		depends on HIGH_PERFORMANCE_DMA
		bool "Enable high performance dma test"
		default y
endmenu

