# KCONFIG_GROUP: Device Drivers::Touch
menu "TP"
	config TP
		bool "Enable TP"
		default n

	config TP_RST_PIN
		depends on TP
		int "Set TP RST PIN"
		default 5

	config TP_INT_PIN
		depends on TP
		int "Set TP INT PIN"
		default 6

	config TP_I2C_SDA_PIN
		depends on TP
		int "Set TP I2C SDA PIN"
		default 1

	config TP_I2C_SCL_PIN
		depends on TP
		int "Set TP I2C SCL PIN"
		default 0

	config TP_GT911
		depends on TP
		bool "Enable TP_GT911 API"
		default n

	config TP_GT1151
		depends on TP
		bool "Enable TP_GT1151 API"
		default n

	config TP_FT6336
		depends on TP
		bool "Enable TP_FT6336 API"
		default n

	config TP_HY4633
		depends on TP
		bool "Enable TP_HY4633 API"
		default n

	config TP_CST816D
		depends on TP
		bool "Enable TP_CST816D API"
		default n

	config TP_CST9217
		depends on TP
		bool "Enable TP_CST9217 API"
		default n

	config TP_CST76XX
		depends on TP
		bool "Enable TP_CST76XX API (Hynitron HYT7760/CST76xx)"
		default n

	config TP_CST328
		depends on TP
		bool "Enable TP_CST328 API"
		default n

	config TP_FT5316
		depends on TP
		bool "Enable TP_FT5316 API"
		default n
endmenu